    /* Make sure that padding behaves as expected */
    * {box-sizing:border-box}

    /* Container for skill bars */
    .container {
        width: 75%; /* Full width */
        background-color:transparent;
    }

    .container:hover{
        transform: scale(1.01);
    }

    .skills {
        text-align: right; /* Right-align text */
        padding-top: 10px; /* Add top padding */
        padding-bottom: 10px; /* Add bottom padding */
        color: white; /* White text color */
        padding-right: 20px;
    }

    .total {
        width: 90%;
         background-color: #fea82f;
    } 
  
    .total-attendance-heading {
        font-size:2.5rem;
        text-align:center;
        margin-top:3%;
        color: #02475e;
    }

    .timetable-list{
        padding: 3px;
        font-size:1.3rem;
        font-weight: bold;
    }

    .timetable-item{ 
        padding:10px;
    }